body {
    font-size: 18px;
    background: url(/images/rules-background.png?version=40fd24846865c459e4f38300e2ae9377) repeat-y #FFEDD5 left fixed;
    background-size: contain;
}

table {
    overflow-x: auto;
}

h1, .h1 {
    font-size: 3em;
    overflow-x: auto;
}

h2, .h2 {
    font-size: 2.5em;
}

h3, .h3 {
    font-size: 2em;
}

h4, .h4 {
    font-size: 1.7em;
}

h5, .h5 {
    font-size: 1.4em;
}

h6, .h6 {
    font-size: 1.2em
}

/* hide the main content while we assemble everything */
.md-hidden-load {
    display: none;
}

.anchor-highlight {
    font-size: 0.7em;
    margin-left: 0.25em;
}

/* for pageContentMenu */
#md-page-menu {
    position: static;
}

#md-page-menu a.active {
    /* background-color: rgba(0, 0, 0, 0.01); */
    font-weight: bold;
    padding-left: 6px;

}

@media (min-width: 992px) {
    #md-page-menu.affix {
        position: fixed;
    }
}

@media (min-width: 768px) {
    .md-float-left .col-sm-8, .md-float-right .col-sm-8 {
        max-width: 66.67%;
    }

    .md-float-left .col-sm-4, .md-float-right .col-sm-4 {
        max-width: 33.33%;
    }

    .md-float-left .col-sm-2, .md-float-right .col-sm-2 {
        max-width: 16.67%;
    }

}

@media (max-width: 992px) {
    a.forkmeongithub {
        display: none;
    }
}

@media (max-width: 768px) {
    /* don't use floating for smaller screens */
    .md-float-left .col-sm-8, .md-float-left .col-sm-4, .md-float-left .col-sm-2 {
        width: 100%;
        min-width: 100% !important;
    }

    .md-float-right .col-sm-8, .md-float-right .col-sm-4, .md-float-right .col-sm-2 {
        width: 100%;
        min-width: 100% !important;
    }
}

.md-floatenv .md-text {
    /* md-text is not of md-col-* but needs the spacing */
    margin-left: 15px;
    margin-right: 15px;
}

/* float images */
.md-float-left .col-sm-8, .md-float-left .col-sm-4, .md-float-left .col-sm-2 {
    width: auto;
}

.md-float-right .col-sm-8, .md-float-right .col-sm-4, .md-float-right .col-sm-2 {
    float: right !important;
    width: auto;
}

#md-all .md-copyright-footer {
    font-size: smaller;
    padding: 1em;
}

.panel {
    background-color: transparent;
}

.list-group {
    background-color: transparent;
}

.list-group-item {
    background-color: transparent;
}

.navbar {
    background-color: #cbbdaa;
    margin-bottom: 0;
    min-height: auto;
}

.navbar-brand {
    padding: 0.3em 0.5em;
    line-height: normal;
}

.nav > li > a {
    padding: 0.3em 0.5em;
    line-height: inherit;
}

hr {
    border-top: 1px solid #cbbdaa;
}

blockquote {
    border-left: 5px solid #cbbdaa;
}

code {
    white-space: pre-wrap;
    display: inline-block;
    padding: 0.2em 0.2em 0;
}

.licence {
    padding: 1em;
}